* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(140, 176, 148);
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5em;
}

h1 {
    text-transform: uppercase;
    padding: 1em 0em;
    color: rgb(27, 93, 216);
}